.zh-star {
  position: relative;
  display: inline-block;
  color: #1a73e8; /* 知乎蓝 */
  font-weight: 500;
}

.zh-star-mark {
  position: absolute;
  top: -0.4em;
  right: -0.6em;
  font-size: 0.6em;
  color: #1a73e8;
}
.zh-star {
  position: relative;
  display: inline-block;
 
